/* *{
    overflow-y: auto;
} */

html, body {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
} 

div{
    padding-left: 5%;
}

#welcome-section{
    display: flex;
    background-color: #7EE8FA;
    background-image: linear-gradient(#7EE8FA,#EEC0C6);
    width: 100%;
    height: 500px;
    position: relative;
}

#welcome-image{
    width: 400px;
    height: 400px;
    padding-top: 5%;
}

#welcome-title{
    padding-top: 200px;
}

#welcome-text{
    padding-top: 250px;
}